body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
    height: 100vh;
    width: 100vw;
}

.navbar > a {
    text-decoration: none;
    color: rgb(255, 208, 0);
    font-size: 2rem;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 30px;
    background-color: rgb(39, 39, 39);
    height: 5rem;
}

.navbar .nav-links {
    box-sizing: border-box;
    margin: 0;
}

.navbar .nav-links a {
    box-sizing: border-box;
    margin: 0 30px;
    color: rgb(255, 208, 0);
    text-decoration: none;
}




.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: steelblue;
}

button {
    background-color: rgb(255, 99, 71);
    border: none;
    border-radius: 3px;
    color: white;
    width: 30%;
    font-size: 1.25rem;
    padding: 0.25rem;
    margin: 0.75rem 0 0 0;
}

button:hover {
    background-color: rgb(243, 81, 52);
    cursor: pointer;
}

input {
    width: 30%;
    padding: 0.5rem;
    margin: 0.75rem 0 0 0;
    border-radius: 3px;
    border: solid 1px black;
}




@media screen and (max-width: 600px) {
    .navbar {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0 0 10px 0;
    }
     
  }
  